.user-info {
    margin: auto;
    width: var(--containerWidth);
    display: flex;
}
.user-info-form {
    margin-bottom: 130px;
}
.user-info-input-group {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
}
.user-info-input-group > label {
    font-weight: var(--boldFont);
    margin-bottom: 5px;
}
.user-info-input-group > label:after {
    content: "*";
}
.user-info-input-group > input {
    height: 40px;
    width: 340px;
    background-color: transparent;
    border: 0.8px solid var(--borderGray);
    padding: 9px 0;
    padding-left: 20px;
    font-size: var(--smallFont);
    color: var(--black);
}
.required-fields-info hr {
    border: none;
    border-bottom: 2px solid var(--borderGray);
    margin-bottom: 15px;
}
.required-fields-info {
    padding: 20px 0;
    color: var(--borderGray);
    width: 365px;
}
.user-info img {
    flex: 1;
    width: 100%;
    height: auto;
}