:root {
  --gray: #EAEAEA;
  --black: #232323;
  --red: #FE3B1F;
  --borderGray: #C4C4C4;
  --bigFont: 40px;
  --smallFont: 18px;
  --boldFont: 700;
  --containerWidth: calc(100% - 200px);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 27px;
}
body {
  background-color: #EAEAEA;
}
.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start-page img {
  width: 100px;
  height: 100px;
  margin-top: 200px;
  margin-bottom: 97px;
}
.start-page a {
  height: 179px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: var(--black);
  text-decoration: none;
}
.form-page {
  margin-top: 89px;
}
.navbar {
  margin: auto;
  width: var(--containerWidth);
  display: flex;
  justify-content: space-between;
  border-bottom: 1.8px solid var(--black);
  padding: 15px 0;
}
.navbar-logo {
  color: var(--red);
  font-weight: var(--boldFont);
}
@import url("./styles/user-info.css");
.info-form {
  width: 600px;
}
.info-title {
  font-weight: var(--boldFont);
}
.info-label {
  margin-left: 20px;
  margin-right: 10px;
  font-weight: 400;
}
.info-input-group {
  margin-top: 11px;
}
.info img {
  max-width: 100%;
  height: 660px;
  width: 660px;
}
.form-question {
  margin-top: 42px;
}
.info {
  width: var(--containerWidth);
  margin: auto;
  display: flex;
}
.work-info {
  margin-top: 43px;
}
.info-form p {
  margin-bottom: 44px;
}
.info-input-groups {
  margin-top: 43px;
}
.required::after {
  content: "*";
}
.submit-button {
  background: #208298;
  font-weight: var(--boldFont);
  color: #fff;
  padding: 10px 29px;
  width: 180px;
  height: 56px;
  border-radius: 42px;
  border: none;
}
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 47px;
}
.arrows {
  width: var(--containerWidth);
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrows button {
  margin: 0px 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}